.register-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-page-container1 {
  width: auto;
  height: 1001px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.register-page-container2 {
  width: 548px;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.register-page-text {
  margin-bottom: 0px;
}
.register-page-image {
  width: 475px;
  height: 312px;
  margin-top: 50px;
  object-fit: cover;
  margin-bottom: 50px;
}
.register-page-register {
  width: 226px;
  height: 58px;
}
